/* Plantin MT Pro */
@font-face {
    font-family: 'Plantin MT Pro';
    src: url('~/assets/fonts/Plantin MT Pro/PlantinMTProLight.TTF')
        format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plantin MT Pro';
    src: url('~/assets/fonts/Plantin MT Pro/PlantinMTProLightIt.TTF')
        format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Plantin MT Pro';
    src: url('~/assets/fonts/Plantin MT Pro/PlantinMTProRg.TTF')
        format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plantin MT Pro';
    src: url('~/assets/fonts/Plantin MT Pro/PlantinMTProRgIt.TTF')
        format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Plantin MT Pro';
    src: url('~/assets/fonts/Plantin MT Pro/PlantinMTProBold.TTF')
        format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plantin MT Pro';
    src: url('~/assets/fonts/Plantin MT Pro/PlantinMTProBoldIt.TTF')
        format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Plantin MT Pro';
    src: url('~/assets/fonts/Plantin MT Pro/PlantinMTProSmBd.TTF')
        format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plantin MT Pro';
    src: url('~/assets/fonts/Plantin MT Pro/PlantinMTProSemiBdIt.TTF')
        format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Plantin MT Pro';
    src: url('~/assets/fonts/Plantin MT Pro/PlantinMTProCnBd.TTF')
        format('truetype');
    font-weight: 700;
    font-style: normal;
    font-stretch: condensed;
    font-display: swap;
}

/* Sohne Buch */
@font-face {
    font-family: 'SohneBuch';
    src:
        url('~/assets/fonts/Sohne/Sohne-Buch.woff') format('woff'),
        url('~/assets/fonts/Sohne/Sohne-Buch.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Alegreya */
@font-face {
    font-family: 'Alegreya';
    src: url('~/assets/fonts/Alegreya HT/Alegreya-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alegreya';
    src: url('~/assets/fonts/Alegreya HT/Alegreya-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Alegreya';
    src: url('~/assets/fonts/Alegreya HT/Alegreya-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alegreya';
    src: url('~/assets/fonts/Alegreya HT/Alegreya-BoldItalic.woff2')
        format('woff2');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

/* Redaction */
@font-face {
    font-family: 'Redaction';
    src: url('~/assets/fonts/Redaction/Redaction-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Redaction';
    src: url('~/assets/fonts/Redaction/Redaction-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Redaction';
    src: url('~/assets/fonts/Redaction/Redaction-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Redaction 35';
    src: url('~/assets/fonts/Redaction/Redaction_35-Regular.woff2')
        format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Redaction 35';
    src: url('~/assets/fonts/Redaction/Redaction_35-Italic.woff2')
        format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Redaction 35';
    src: url('~/assets/fonts/Redaction/Redaction_35-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* Space Mono */
@font-face {
    font-family: 'Space Mono';
    src: url('~/assets/fonts/Space Mono/SpaceMono-Regular.ttf')
        format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Space Mono';
    src: url('~/assets/fonts/Space Mono/SpaceMono-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Space Mono';
    src: url('~/assets/fonts/Space Mono/SpaceMono-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
